---
import "@styles/global.css";

import Layout from "@layouts/Layout.astro";
import Top from "@components/Top.astro";
import SNS from "@components/SNS.astro";
import Skills from "@components/Skills.astro";
import Showcase from "@components/Showcase.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
    <Top />
    <main>
        <SNS />
        <Skills />
        <Showcase />
    </main>
    <Footer />
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        max-width: 800px;
        margin-inline: auto;
        padding: 1rem;
    }
</style>
