---
import "@styles/global.css";

import { Image } from "astro:assets";
import Logo from "@img/sasnews-logo.png";
import Back from "@img/background.png";
---

<div id="load-time-container">
    <p id="load-time">Loading...</p>
</div>
<div class="top">
    <Image
        src={Back}
        alt="背景用画像"
        width={600}
        height={600}
        class="blur-bg"
        aria-hidden="true"
        loading="eager"
        fetchpriority="high"
    />
    <div class="title-section">
        <Image src={Logo} alt="SAS新聞ロゴ" width={150} height={150} class="logo" />
        <div class="title-contents">
            <h1 class="name">SAS新聞</h1>
            <p class="description">Webに沈む<wbr />高校2年生</p>
        </div>
    </div>
</div>

<script>
    const loadTimeEl = document.getElementById("load-time");
    const loadTimeContainer = document.getElementById("load-time-container");
    if (loadTimeEl && loadTimeContainer) {
        const now = performance.now();
        loadTimeEl.textContent = `Load time: ${now.toFixed(2)} ms!`;

        loadTimeContainer.classList.add("show");

        const timer = setTimeout(() => {
            loadTimeContainer.classList.remove("show");
        }, 5000);
    }
</script>

<style>
    #load-time-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: fit-content;
        transform: translateY(calc(-100% - 20px));
        background-color: #b8eb9b;
        padding: 0.5rem 1rem;
        text-align: center;
        z-index: 1000;
        transition: transform 0.5s ease-in-out;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        white-space: nowrap;

        &.show {
            transform: translateY(0);
        }
    }
    .top {
        position: relative;
        overflow: hidden;
        z-index: 0;
        height: 500px;
        & > *:not(.blur-bg) {
            position: relative;
            z-index: 1;
        }
        .blur-bg {
            position: absolute;
            top: 50%;
            left: 50%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            filter: blur(5px) brightness(1.1) opacity(0.15) contrast(1.2);
            z-index: 0;
            pointer-events: none;
            user-select: none;
            width: 100dvw;
            height: 500px;
            mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
            -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
        }
    }
    .title-section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 1rem;
    }
    .logo {
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 150px;
        height: 150px;
        margin-left: 1rem;
    }
    .title-contents {
        margin-inline: 1rem;
        .name {
            font-size: 2.25rem;
            font-weight: bold;
        }
        .description {
            color: #666;
            white-space: nowrap;
            margin-top: 0.5rem;
        }
    }
    @media (width < 450px) {
        .title-section {
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
        }
        .logo {
            width: 120px;
            height: 120px;
            margin-left: 0;
        }
        .title-contents {
            margin-inline: 0;
            .name {
                font-size: 1.75rem;
            }
            .description {
                margin-top: 0.25rem;
                margin-inline: 1rem;
            }
        }
    }
    @media (prefers-color-scheme: dark) {
        #load-time-container {
            background-color: #106515;
            color: #fff;
        }
        .top .blur-bg {
            filter: blur(5px) brightness(1.1) opacity(0.15) contrast(1.2) invert(1);
        }
        .logo {
            background-color: #eee;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }
    }
</style>
